#main-title {
  color: white;
  font-size: 20px;
  text-align: center;
}

.content {
  background-color: white;
}



p {
  color: green;
}

.red {
  color: red;
}

#blue {
  color: blue;
}




p {
  color: blue;
  font-weight: bold;
}

.important {
  color: purple;
  font-style: italic;
}

